body {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #242424;
}
p {
  margin: 0;
  padding: 0;
}
button {
  margin: 0;
  padding: 0;
}
video {
    display: block;
}



/* STATE == selectSpieler */

.selectSpieler {
  display: flex;

  width: 100vw;
  height: 100vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#activatecamera {
  display: flex;

  justify-content: center;
  align-items: center;
  
  gap: 10px;
}
#activatecamera input{
  margin: 0;
  padding: 0;

  width: 25px;
}
#activatecamera p{
  color: aliceblue;
}

.selectionContainer {
  height: 90vh;
  width: 700px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 

  background-color: #242424;
}
.selectionContainer h2 {
  color: rgb(236, 236, 236);
}
.selectionContainer p {
  color: rgb(255, 166, 0);
}

.selectionContainer input {
  height: 64px;
  width: 300px;
  margin: 15px;
  padding: 0px 25px;
  border-radius: 10px;
  border: none;
  background-color:  #373e49;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.212);
  color: rgb(233, 233, 233);
  font-weight: 20px;
  transition: 0.2s;
}
input:hover {
  background-color: #47505f;
  width: 310px;
}
input:focus {
  outline: none;
  background-color: #47505f;
  width: 310px;
}
input::placeholder{
  color: rgb(159,161,190);
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.selectionContainer button {
  height: 64px;
  width: 140px;
  border-radius: 1000px;
  margin-bottom: 20px;
  margin-top: 0px;
  border: none;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, rgb(162,0,255), rgb(74,15,236));
  transition: 0.2s;
}

.selectionContainer button:hover{
  width: 170px;
}
.selectionContainer button:focus{
  width: 170px;
  outline: none;
}
/* STATE == getKIKarten */

.ingameContainer .carddetection {
  width: 34%;

  display: flex;
  flex-direction: column;
}

.ingameContainer .carddetection canvas{
  border-radius: 10px;
}

.ingameContainer .carddetection form {
  margin-top: 50px;
  width: 100%;
  display: flex;

  gap: 5%;
  justify-content: center;

}

.ingameContainer{
  width: 100vw;
  height: 100vh;

  display: flex;
}

.ingameContainer .ingame {
  width: 66%;
  height: 100vh;
}

.ingameContainer .ingame .card {
  background-color: rgba(255, 255, 255);

  position: absolute;
  width: 400px;
  height: 224px;

  top: calc(50vh - 112px - 40px);
  right: calc(26%);
  z-index: 1;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='36' ry='36' stroke='black' stroke-width='5' stroke-dasharray='14%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 36px;
  
}

.ingameContainer .ingame #card2 {
  width: 224px;
  height: 400px;

  top: calc(50vh - 400px + 112px);
  right: calc(26% - 40px);
  z-index: 2;
}
.ingameContainer .ingame #card3 {
  top: calc(50vh - 112px + 40px);
  right: calc(26% - 400px + 224px);
  z-index: 3;
}
.ingameContainer .ingame #card4 {
  width: 224px;
  height: 400px;

  top: calc(50vh - 112px);
  right: calc(26% + 40px);
  z-index: 4;
}



.removed {
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
}
 


  