body {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #1b1b1b;
}
  
video {
    display: block;
}

.modelloading {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
}

.modelloaded {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
}

.removed {
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
}
 
  